click
MarkupSafe
gunicorn
autopep8=
certifi 
normalizer
et-xmlfile
flask
Flask
idna
itsdangerous
jinja2
numpy
openai
openpyxl
pandas
pandas-stubs
pycodestyle
python-dateutil
python-dotenv
pytz
requests
six
toml
tqdm=
urllib3
Werkzeug=
flask_login
SQLAlchemy=
Flask-SQLAlchemy

